*{
    margin: 0px;
    padding: 0px;
    font-family: 'Work Sans', sans-serif;
}
nav{
    display: flex;
    justify-content: center;
    gap: 30%;
    padding-top: 30px;
    padding-bottom: 30px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    
}
.logo{
    display: flex;
    align-items: center;
    gap: 15px;
}
.logo img{
    width: 70px;
}
.logo-tit{
    font-size: 2rem;
    font-weight: 799
}
.g{
    color: #FF42A5;
}

.menus{
    display: flex;
    align-items: center;
    gap: 32px;
    
}

.menus a{
    text-decoration: none;
    color: #3C354F;
}
.menu-last{
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: rgba(11, 2, 35, 0.10);
    padding: 10px 15px;
    border-radius: 8px;

}
.sep-menu, .menu-last{
    font-size: 1rem;
    font-weight: 600;
}


