*{
    margin: 0px;
    padding: 0px;
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: center;
    gap: 30%;
    padding-top: 30px;
    padding-bottom: 30px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    
}
.logo{
    display: flex;
    align-items: center;
    gap: 15px;
}
.logo img{
    width: 70px;
}
.logo-tit{
    font-size: 2rem;
    font-weight: 799
}
.g{
    color: #FF42A5;
}

.menus{
    display: flex;
    align-items: center;
    gap: 32px;
    
}

.menus a{
    text-decoration: none;
    color: #3C354F;
}
.menu-last{
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: rgba(11, 2, 35, 0.10);
    padding: 10px 15px;
    border-radius: 8px;

}
.sep-menu, .menu-last{
    font-size: 1rem;
    font-weight: 600;
}

/* Mobile device  */
@media screen and (max-width:576px) {
    
    /* Navbar responsive section start   */
     
     nav{
         flex-direction: column;
         align-items: center;
         gap: 30px;
         box-shadow: none;
     }
     .logo{
         padding-top: 50px;
     }
     .logo img{
        width: 50px;
    }
    .logo-tit{
        font-size: 1.3rem;
        font-weight: 799
    }
     .menus{
         flex-direction: column;
     }
     .sep-menu, .menu-last{
         font-size: 0.54rem;
         font-weight: 600;
     }
 
     /* Navbar responsive section end   */
 
 }



 /* Tablet device  */

@media screen and (min-width:576.01px) and (max-width:960px) {
    /* Navbar responsive for tablet starts  */
    nav{
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .logo{
        padding-top: 25px;
    }
    
    .sep-menu, .menu-last{
        font-size: 0.75rem;
        font-weight: 600;
    }
    /* Navbar responsive for tablet ends  */
}


