.ogv-txt{
    text-align: center;
    margin-top: 100px;
}
.ogv-tit{
    font-size: 2.2rem;
    font-weight: 800;
    margin-bottom: 12px;
}

.funny{
    font-size: 2.2rem;
}
.ogv-desc{
    color: #534C64;
    margin-bottom: 40px;
}
#card-3{
    border-radius: 16px;
}

.card-desc{
    margin-right: 0;
    width: 100%;
    margin-top: 10px;
    color: #534c64a5;
    font-size: 0.92rem;
    font-weight: 600;
    line-height: 25px;
}
.card{
    display: flex;
    flex-direction: column;
}
.card img{
    width: 100%;
}
.ogv-img{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 15px;
    width: 73%;
    margin: 0 auto;
}

/* Mobile device  */
@media screen and (max-width:560px) {
    .ogv-txt{
        text-align: center;
        margin-top: 40px;
    }
    .ogv-tit{
        font-size: 1.3rem;
        font-weight: 800;
        margin-bottom: 8px;
    }
    
    .funny{
        font-size: 1.3rem;
    }
    .ogv-desc{
        color: #534c64ae;
        margin-bottom: 40px;
        font-weight: 400;
        font-size: .68rem;
    }

    .ogv-img{
        grid-template-columns: repeat(1,1fr);
        width: 60%;
    }
    .card-desc{
        margin-right: 0;
        width: 100%;
        margin-top: 10px;
        color: #534c64a5;
        font-size: 0.57rem;
        font-weight: 600;
        text-align: center;
    }
}