.ogv-txt{
    text-align: center;
    margin-top: 100px;
}
.ogv-tit{
    font-size: 2.2rem;
    font-weight: 800;
    margin-bottom: 12px;
}

.funny{
    font-size: 2.2rem;
}
.ogv-desc{
    color: #534C64;
    margin-bottom: 40px;
}
#card-3{
    border-radius: 16px;
}

.card-desc{
    margin-right: 0;
    width: 100%;
    margin-top: 10px;
    color: #534c64a5;
    font-size: 0.92rem;
    font-weight: 600;
    line-height: 25px;
}
.card{
    display: flex;
    flex-direction: column;
    position: relative;
}
.card img{
    width: 100%;
    
}
.card-img{
    position: relative;
}
.ogv-img{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 15px;
    width: 73%;
    margin: 0 auto;
}
.button{
    position: absolute;
    display:  none;
    text-align: center;
    

}
.button button{
    background-color: transparent;
    border: none;
    margin-bottom: 12px;
    cursor: pointer;
}
.button p{
    color: #FF42A5;
    font-weight: 600;
}



/*Bonus section*/

.card-img:hover .magic{
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%);
    top: 0;
    left: 0;
    border-radius: 14px;
    border: 3px solid #FF42A5;

}
.card-img:hover .button{
    position: absolute;
    display: block;
    top: 30%;
    left: 35%;

}
    




/* Mobile device  */
@media screen and (max-width:560px) {
    .ogv-txt{
        text-align: center;
        margin-top: 40px;
    }
    .ogv-tit{
        font-size: 1.3rem;
        font-weight: 800;
        margin-bottom: 8px;
    }
    
    .funny{
        font-size: 1.3rem;
    }
    .ogv-desc{
        color: #534c64ae;
        margin-bottom: 40px;
        font-weight: 400;
        font-size: .68rem;
    }

    .ogv-img{
        grid-template-columns: repeat(1,1fr);
        width: 60%;
    }
    .card-desc{
        margin-right: 0;
        width: 100%;
        margin-top: 10px;
        color: #534c64a5;
        font-size: 0.57rem;
        font-weight: 600;
        text-align: center;
    }
    
}

/* Tablet Device  */

@media screen and (min-width:576.01px) and (max-width:960px) {
    .ogv-txt{
        text-align: center;
        margin-top: 40px;
    }
    .ogv-tit{
        font-size: 1.7rem;
        font-weight: 800;
        margin-bottom: 8px;
    }
    
    .funny{
        font-size: 1.7rem;
    }
    .ogv-desc{
        color: #534c64ae;
        margin-bottom: 40px;
        font-weight: 400;
        font-size: .80rem;
    }

    .ogv-img{
        grid-template-columns: repeat(2,1fr);
        width: 60%;
    }
    .card-desc{
        margin-right: 0;
        width: 100%;
        margin-top: 10px;
        color: #534c64a5;
        font-size: 0.67rem;
        font-weight: 600;
        text-align: center;
    }
    
}