/* mobile device  */
@media screen and (max-width:576px) {
    
   /* Navbar responsive section start   */
    
    nav{
        flex-direction: column;
        align-items: center;
        gap: 60px;
    }
    .logo{
        padding-top: 50px;
    }
    .menus{
        flex-direction: column;
    }
    .sep-menu, .menu-last{
        font-size: 0.85rem;
        font-weight: 600;
    }

    /* Navbar responsive section end   */
}


/* Tablet device  */

@media screen and (min-width:576.01px) and (max-width:960px) {
    /* Navbar responsive for tablet starts  */
    nav{
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .logo{
        padding-top: 25px;
    }
    
    .sep-menu, .menu-last{
        font-size: 0.75rem;
        font-weight: 600;
    }
    /* Navbar responsive for tablet ends  */
}